<h1>My Books</h1>
<%if current_user.books == [] %>
<h3>Sorry You Dont Have Any Books In Your Shelf</h3>
<%else%>
<% current_user.books.each do |book| %>
    <li>
        <%= book.title %> <br>
        <%= book.author %> <br>
        <%= book.summary %> <br>
        
    </li>
   <% end %>
  <%end%>